<!DOCTYPE html>

<html lang="ja">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>名称未設定</title>

    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/js/common.js">
    

  </head>
  <!-- menu checkbox周りを<>で囲う際はbodyないのものすべてを囲まないと設定したアニメーションが動かなくなります -->
  <body>
    <div class="wrap">
      <div><a href="top.html"><img src="../../static/images/logo2.png"></a></div>
    </div>
    <input type="checkbox" id="menu" />
    <label for="menu" class="menu">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <nav class="nav">
      <ul class="navwrap">
        <li class="hoverli"><a href="signin.html">ログイン</a></li>
        <li><a href="top.html">トップページ</a></li>
        <li>
          <div >
            <a href="movieList.html">上映中一覧</a>
            <ul>
              <li><a href="" style="padding-top: 0.1vw;"><span>H</span>orror</a></li>
              <li><a href=""><span>A</span>ction</a></li>
              <li><a href=""><span>L</span>ove</a></li>
            </ul>
          </div>
        </li>
        <li><a href="comingList.html">公開予定</a></li>
        <li><a style="padding: 0.7vw 0.9vw; font-size:1vw;" href="screen.html">スクリーンスペック</a></li>
        <li><a style="padding: 0.7vw 1.1vw;" href="#">サイトマップ</a></li>
      </ul>
    </nav>
    <div class="backimg"><img src="{{url_for('static', filename='images/eigakan2.jpg')}}" alt=""/div>
    
    
    <main>
      <!-- spaceはnavの帳尻合わせのために作ってる -->
      <div class="space"></div>
      <footer>
        <div class="logo">
          <i class="fa fa-picture-o" aria-hidden="true"></i>
        </div>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Works</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
    
        <div class="secondary-links">
          <ul>
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
    
          <ul class="social">
            <li><a href="#">
              <i class="fa fa-github"></i>
            </a></li>
            <li><a href="#">
              <i class="fa fa-twitter"></i>
            </a></li>
            <li><a href="#">
              <i class="fa fa-codepen"></i>
            </a></li>
          </ul>
        </div>
      </footer>
    </main>
  </body>

</html>
